<div class="card shadow mb-4 w-100 rainbow-highlight link-card object-card" data-link="<%= link %>">
	<div class="card-header d-flex flex-row align-items-center">
 		<%= image_tag image_path, class: "w-50 me-4 rounded shadow-sm" %>
		<div>
			<p>
				<span class="lead">
					<%= title %>
				</span>
				<% subtitles.each do |subtitle| %>
					<br>
					<span class="fw-light fst-italic text-muted">
						<%= subtitle %>
					</span>
				<% end %>
			</p>
			<% if badges.any? %>
				<%= render partial: 'layouts/badge_list', locals: { badges: badges, max_badges: max_badges } %>
			<% end %>
		</div>
	</div>
</div>